@model IEnumerable<CarrosWebApp.Models.ModeloCarro>

<!-- <h1>Modelos de Carros</h1> -->

<p>
    <a href="@Url.Action("Create", "ModelosCarros")" class="btn btn-success">
        Inserir Carro
    </a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Cor</th>
            <th>Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Marca</td>
            <td>@item.Modelo</td>
            <td>@item.Ano</td>
            <td>@item.Cor</td>
            <td>@item.Preco</td>
            <td>
                <a asp-controller="ModelosCarros" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a href="@Url.Action("Delete", new { id = item.Id })">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
